
# Ignore database files
*.sqlite3

# Ignore static files
/staticfiles/

# Ignore media files
/media/

# Ignore virtual environment
/sharenv/

# Ignore IDE files
.vscode/
.idea/

# Ignore compiled Python files
*.pyc

# Ignore log files
*.log

# Ignore environment variables file
.env

# Ignore secret key file
secret_key.py