<!DOCTYPE html>
<html>
<head>
    <title>File Explorer</title>
    <!-- Add your CSS stylesheets here -->
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <!-- Add your header content here -->
        <h1 style="font: bolder; color: coral;">Testing grounds</h1>
        <nav>
            <a href="{% url 'container_list' %}">Containers</a>
            <a href="{% url 'file_list' %}">Files</a>
    </header>

    <main>
        <!-- Add your main content here -->
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <!-- Add your footer content here -->
        <p>&copy; RV</p>
    </footer>

    <!-- Add your JavaScript files here -->
    <script src="script.js"></script>

</body>
</html>